@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/*ANIMATIONS*/

@keyframes load {
    0% {
        transform: scaleY(0);
        background-color: rgb(255, 255, 255);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes rotateLogo {
    0% {
        transform: rotate3d(0, 1, 0, 90deg);
    }

    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

:root {
    --metallic-gray: #e1e2de;
    --bg-gray: rgb(20, 20, 20);
    --default-font: "Open Sans", sans-serif;
}

body {
    font-family: var(--default-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0;
    background-color: var(--bg-gray);
}

/*HEADER*/

h1 {
    color: var(--metallic-gray);
    border-radius: 8px;
    text-align: center;
    transform: translateY(-50px);
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-decor {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: top;
    animation: load 1s;
}

.photo-container {
    max-width: 320px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    animation: fadeIn 2s forwards;
    opacity: 0;
}

.aegis-img {
    max-width: 100%;
    min-height: 400px;
    object-fit: cover;
    object-position: center;
    filter: invert();
    perspective: 800px;
    animation: rotateLogo 1s;
    transition: transform 0.75s;
}

.photo-container:hover .aegis-img,
.photo-container:active .aegis-img {
    transform: rotate3d(0, 1, 0, 180deg);
}

.description-container {
    background-color: #e1e2de;
    display: flex;
    flex-direction: column;
    margin: 80px 20px 80px 20px;
    gap: 12px;
    box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.29);
    max-width: 600px;
    padding: 25px;
    border-radius: 8px;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.description-container > .title {
    font-size: 35px;
}

.description-container > .description {
    font-size: 18px;
}

.icons-container {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

svg {
    width: 30px;
}

/*MAIN*/

h2 {
    color: var(--metallic-gray);
    text-align: center;
    font-size: 32px;
    margin: 0;
}

.projects-container {
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 0.5fr));
    gap: 24px;
}

@media (max-width: 645px) {
    .projects-container {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}

.project-card {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s cubic-bezier(0.33, 1, 0.68, 1);
    transform-origin: bottom;
}

.project-card:hover {
    transform: scale(1.05);
}

.card-img {
    min-height: 171px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

@media (max-width: 945px) {
    .card-img {
        min-height: 300px;
    }
}

.card-content {
    background-color: var(--metallic-gray);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.card-title {
    font-weight: bold;
    font-size: 18px;
}

.card-description {
    min-height: 70px;
}

.card-bottom {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.card-bottom > a {
    display: flex;
}

.live-preview-btn {
    border: none;
    min-height: 100%;
    background-color: var(--bg-gray);
    color: var(--metallic-gray);
    border-radius: 12px;
    font-family: var(--default-font);
    font-size: 15px;
    cursor: pointer;
    padding: 0px 10px;
    transition: all 100ms ease-out;
}

.live-preview-btn:hover,
.live-preview-btn:active {
    transform: scale(1.1);
    background-color: #1313138c;
}
