@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/*ANIMATIONS*/

@keyframes load {
    0% {
        transform: scaleY(0);
        background-color: rgb(255, 255, 255);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

/*HEADER*/

h1 {
    color: #e1e2de;
    border-radius: 8px;
    text-align: center;
    transform: translateY(-50px);
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.header-decor {
    position: absolute;
    width: 100%;
    height: 55vh;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    transform-origin: top;
    animation: load 1s;
}

.photo-container {
    /* background-color: rgb(255, 255, 255); */
    max-width: 320px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    animation: fadeIn 2s forwards;
    opacity: 0;
}

.aegis-img {
    max-width: 100%;
    min-height: 400px;
    object-fit: cover;
    object-position: center;
    filter: invert();
}

.description-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin: 80px 0px 80px 0px;
    gap: 12px;
    box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.29);
    max-width: 600px;
    padding: 25px;
    border-radius: 8px;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.description-container > .title {
    font-size: 35px;
}

.description-container > .description {
    font-size: 18px;
}

.icons-container {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.icons-container > svg {
    max-width: 30px;
}
